@import "normalize";
@import "base";

@media screen {
    @import "screen";
}

@media screen and (max-width:640px) {
    @import "mobile";
}

.menu-toggle {
  display:none;
  @media (max-width: 855px) {
    display:block;
  }
}
header {
  .toggle {
    vertical-align: middle;
    background-color: #951936;
    color: #ffffff;
    .menu-toggle {
      background-color: #951936;
      color: #ffffff;
      margin-left: 7px;
    }
    .navbar-toggler-icon {
      float: left;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      .bar {
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
      }
    }
    .menu-label {
      display: inline-block;
      padding-top: 4px;
      padding-left: 10px;
      font-size: 1.25rem;
    }
  }
  nav {
    .navigation {
      background-color: #951936;
      border: 0;
      padding: 7px 42px;
      margin: 0;
      @media (max-width: 855px) {
        display: none;
        .nav-item {
          display: block !important;
          justify-content: normal;
          align-items: unset;
          border-top: solid white 1px;
        }
      }
      a {
        color: white;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.05rem;
        padding: 14px;
      }
    }
    .navigation.open {
      display: block;
    }
  }
  .still-banner {
    background-image: url("../img/body.png");
    background-repeat: repeat-x;
    position: relative;
    top: 0;
    height: 120px;
    @media (max-width: 855px) {
      background-image: none;
      background-color: #951936;
    }
    @media (max-width: 640px) {
      padding-top: 21px;
      height: auto;
    }
    h1 {
      text-align: left;
      line-height: 0;
      margin: 0;
      position: relative;
      top: -24px;
      a {
        color: white;
        text-align: left;
        text-shadow: 2px 2px 2px #951936;
        padding-left: 3rem;
        padding-top: 2px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: inline-block;
        @media (max-width: 855px) {
          padding-left: 1rem;
          margin-top: 49px;
        }
      }
      img {
        float: right;
        padding-right: 28px;
        position: relative;
        top: 26px;
        @media (max-width: 855px) {
          float: none;
          text-align: left;
          top: 26px;
          left: 1rem;
          background-color: #951936;
          display: inline-block;
        }
      }
    }
  }

}
